@media screen and (max-width: 1024px) {
    .creative-card-flexbox {
        margin-top: 180px;
    }

    .templates-section{
        padding: 0 16px;
    }

    .customer-container{
        flex-direction: column;
        align-items: center;
    }
    .customer-left-content{
        width: 100%;
    }
    .customer-h2{
        font-size: clamp(34px, calc(16.593px + 4.63vw), 64px);
    }
    .customer-automate-cart{
        max-width: 100%;
    }
    .customer-automate-cart-icons{
        max-width: 500px;
        margin: 0px auto;
    }
    .customer-right-content{
        width: 100%;
    }
    .customer-right-div-card-1{
        max-width: 100%;
    }
    .live-chat-card{
        max-width: 100%;
    }
    .gradient-overlay{
        width: 100%;
    }
    .customer-right-div-card-2{
        max-width: 100%;
    }
    .audience-card{
        max-width: 100%;
    }
}


@media screen and (max-width: 1023px){
    .creative-card-flexbox{
        flex-wrap: wrap;
        row-gap: 180px;
    }

    .brand-experience-div-2{
        flex-direction: column;
        gap: 20px;
    }
}





@media screen and (max-width: 892px) {
    .menu-btn{
        display: flex;
    }

    .nav-btn-mobile{
        display: flex;
    }

    .nav-btn-desk{
        display: none;
    }

    .nav-ul{
        flex-direction: column;
        position: absolute;
        border-radius: 20px;
        padding: 20px 40px;
        gap: 20px;
        top: -500px;
        right: 16px;
        transition: all .5s;
    }

    .nav-ul.active{
        top: 40px;
    }



    .design-flex-box-2{
        flex-wrap: wrap;
    }

    .design-card-outline{
        max-width: calc(50% - 16px);
    }

    .design-card-img-2{
        width: calc(50% - 16px);
        height: 178px;
    }

    .design-card-fill{
        max-width: 100%;
    }



    .project-list-item{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .podcast-div{
        margin-left: 98px;
    }

    .logo-tags-links-grid{
        grid-template-columns: repeat(2, auto);
    }

    .footer-logo-break{
        display: block;
    }

    .tags-links-div{
        justify-self: self-start;
    }

    .quick-links-div{
        justify-self: self-start;
    }
}




@media screen and (max-width: 767px) {
    .design-flex-box-1{
        flex-direction: column;
    }
}




@media screen and (max-width: 425px) {
    .design-card-outline {
        max-width: 100%;
    }
    
    .design-card-img-2 {
        width: 100% ;
    }

    .project-list-number{
        padding: 5px 15px;
    }

    .customer-right-content{
        flex-direction: column;
    }

    .brand-experience-buttons-div{
        flex-direction: column;
        align-items: start;
    }

    .logo-tags-links-grid {
        grid-template-columns: repeat(1, auto);
    }

    .footer-logo-break {
        display: none;
    }
}