@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.nav-ul{
    background: #EDEDED;
    border-radius: 999px;
}

.nav-ul-li{
    padding: 8px 20px;
    border-radius: 9999px;
    transition: background-color .2s ease;
    cursor: pointer;
    
}

.nav-ul-li-a{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--w-secondary-color);
    transition: color .2s ease;
}

.nav-ul-li:hover{
    background-color: #000000;
}

.nav-ul-li:hover .nav-ul-li-a{
    color: #FFFFFF;
}

.nav-btn{
    padding: 12px 20px;
    gap: 8px;
    border-radius: 999px;
    background-color: var(--w-secondary-color);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.nav-btn-mobile{
    display: none;
}


.menu-btn{
    gap: 3px;
    border: none;
    display: none;
}

.menu-btn-line{
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--w-secondary-color);
}






/* hero section */
.hero-h1{
    max-width: 1052px;
}


.hero-img{
    height: 248px;
    border-radius: 10px;
    object-fit: cover;
}


/* Design tools section */
.design-h2{
    max-width: 590px;
    margin-bottom: 40px;
}

.design-card-fill{
    padding: 16px 24px;
    border-radius: 16px;
    min-height: 178px;
    width: 100%;
    max-width: 624px;
    cursor: pointer;
}


.design-card-img-1{
    height: 178px;
    object-fit: cover;
    border-radius: 16px;
}

.we-work-p{
    max-width: 460px;
}

.every-design-p{
    max-width: 465px;
}


.round-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.arrow-up-right-img{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: top 0.2s ease-out, right 0.2s ease-out;
}

.design-card-fill-1-img-2,
.design-card-fill-2-img-2,
.design-card-outline-img-2{
    top: 100%;
    right: 100%;
}

.design-card-fill-1:hover .design-card-fill-1-img-1, 
.design-card-fill-2:hover .design-card-fill-2-img-1,
.design-card-outline:hover .design-card-outline-img-1{
    top: -50%;
    right: -50%;
}
.design-card-fill-1:hover .design-card-fill-1-img-2,
.design-card-fill-2:hover .design-card-fill-2-img-2,
.design-card-outline:hover .design-card-outline-img-2{
    top: 50%;
    right: 50%;
}

.design-card-outline{
    padding: 18px 13px;
    max-width: 284px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
}






/* our favorite project section */
.project-h2{
    padding: 20px 38px;
    background-color: var(--w-primary-color);
    width: fit-content;
    border-radius: 28px 28px 28px 0px;
}


.project-list-item{
    cursor: pointer;
    padding:  28px 0px 44px 0px;
    border-bottom: 2px solid var(--w-accent-color);
    transition: all .3s;
    position: relative;
}

.project-list-item:hover{
    padding-left: 40px;
}

.project-list-item:hover .product-list-p-1{
    color: var(--w-primary-color);
}

.project-list-number{
    padding: 10px 20px;
    border: 1.5px solid var(--w-primary-color);
    border-radius: 100px;
}

.project-list-hover-img {
    scale: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    rotate: 19.21deg;
    transition: scale .2s ease-out;
    width: clamp(120px, calc(55.946px + 17.036vw), 301.09px);
    height: 181.28px;
    object-fit: cover;
    border-radius: 20px;
    user-select: none;
}

.project-list-item:hover .project-list-hover-img {
    scale: 1;
}

.podcasts-circle-div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1px;
}


.podcasts-circle{
    width: 16px;
    height: 16px;
    background-color: #87B8AF;
    border-radius: 50%;
}






/* customer experience section */
.customer-experience-section{
    background-color: #F5F5F5;
    padding: 80px 0px;
}

.customer-left-div-header{
    max-width: 557px;
    margin-bottom: 41.94px;
}

.customer-highlight{
    background-color: #ACEBDF;
    border-radius: 20px;
    padding: 0px 7px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    position: relative;
    filter: url('#gooey');
}

.bottom-right-bold-arrow{
    bottom: clamp(0px, calc(-5.187px + 1.38vw), 8.94px);
    right: 65.34px;
    display: flex;
    padding: 10px 33.99px 10px 10px;
    border: 1px solid #101010;
    border-radius: 100px;
    width: clamp(70px, calc(59.374px + 2.826vw), 100.04px);
    height: clamp(36.06px, calc(30.401px + 1.505vw), 52.06px);
    position: relative;
}

.bottom-right-bold-arrow::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: clamp(90px, calc(80.899px + 2.421vw), 115.73px);
    height: clamp(36.06px, calc(30.401px + 1.505vw), 52.06px);
    border: 1px solid #101010;
    border-radius: 100px;
}

.bottom-right-bold-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: clamp(110px, calc(101.73px + 2.199vw), 133.38px);
    height: clamp(36.06px, calc(30.401px + 1.505vw), 52.06px);
    border: 1px solid #101010;
    border-radius: 100px;
}

.bottom-right-bold-arrow-2{
    margin-left: -8px
}


.customer-left-div-p{
    max-width: 578px;
}


.customer-automate-cart{
    border: 1px solid #000000;
    padding: 32px 25px 24px;
    border-radius: 40px;
    background-image: url("../assets/images/3d-abstract-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    max-width: 578px;
}


.customer-automate-cart-icons{
    height: 210px;
}

.notion{
    width: clamp(60px, calc(42.894px + 4.549vw), 108.36px);
    height: clamp(60px, calc(42.894px + 4.549vw), 108.36px);
    padding: clamp(15px, calc(10.483px + 1.201vw), 27.77px) clamp(15px, calc(9.765px + 1.392vw), 29.8px);
    background-color: #FFFFFF;
    border-radius: 50%;
    top: 0px;
    left: 8.93px;
    box-shadow: 11.51px 11.51px 53.7px 0px rgba(0, 0, 0, 0.15);
}

.google-meet{
    width: clamp(70px, calc(48.972px + 5.593vw), 129.45px);
    height: clamp(70px, calc(48.972px + 5.593vw), 129.45px);
    padding: clamp(18px, calc(12.634px + 1.427vw), 33.17px) clamp(13px, calc(8.791px + 1.119vw), 24.9px) clamp(14px, calc(7.792px + 1.651vw), 31.55px) clamp(14px, calc(9.794px + 1.119vw), 25.89px);
    background-color: #FFFFFF;
    border-radius: 50%;
    left: clamp(80px, calc(59.01px + 5.582vw), 139.34px);
    top: 80.55px;
    box-shadow: 11.51px 11.51px 53.7px 0px rgba(0, 0, 0, 0.15);
}

.evernote{
    width: clamp(50px, calc(40.552px + 2.513vw), 76.71px);
    height: clamp(50px, calc(40.552px + 2.513vw), 76.71px);
    padding: clamp(11px, calc(7.937px + 0.815vw), 19.66px) clamp(11px, calc(6.911px + 1.087vw), 22.56px) clamp(12px, calc(9.63px + 0.63vw), 18.7px) clamp(12px, calc(8.445px + 0.945vw), 22.05px);
    background-color: #FFFFFF;
    border-radius: 50%;
    right: clamp(75px, calc(52.581px + 5.962vw), 138.38px);
    top: 20.14px;
    box-shadow: 11.51px 11.51px 53.7px 0px rgba(0, 0, 0, 0.15);
}

.microsoft-teams{
    width: clamp(55px, calc(41.895px + 3.485vw), 92.05px);
    height: clamp(55px, calc(41.895px + 3.485vw), 92.05px);
    padding: clamp(12px, calc(7.9px + 1.09vw), 23.59px) clamp(13px, calc(9.735px + 0.868vw), 22.23px) clamp(11px, calc(6.953px + 1.076vw), 22.44px) clamp(9px, calc(4.044px + 1.318vw), 23.01px);
    background-color: #FFFFFF;
    border-radius: 50%;
    right: 8.93px;
    top: 92.05px;
    box-shadow: 11.51px 11.51px 53.7px 0px rgba(0, 0, 0, 0.15);
}


.customer-right-div-card-1{
    border: 1px solid #000000;
    border-radius: 20px;
    max-width: 317px;
    padding: 24px;
}

.avatar{
    width: 32px;
    height: 32px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.my-pass-btn{
    padding: 18.24px;
    background-color: var(--w-primary-color);
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    border: none;
    border-radius: 5.47px;
}


.rotar-robot-bottom-div{
    padding: 18.24px;
    background-color: #FFFFFF;
    max-width: 269px;
    border-radius: 5.47px;
    margin-bottom: 20.05px;
}



.customer-right-div-card-2{
    max-width: 317px;
    border-radius: 20px;
    padding: 24px;
    background-color: #000000;
}

.customer-Communication-cart-icons{
    height: 124px;
    position: relative;
}

.whatsapp-3{
    padding: 9.69px 9.53px 9.41px 9.72px;
    border-radius: 50%;
    background-color: #383838;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 11px;
    left: 8px;
}

.facebook-messenger-3{
    padding: 12.79px 12.9px 11.75px 11.62px;
    border-radius: 50%;
    background-color: #383838;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: -7.21px;
    left: 22.53px;
}

.communication-card-center-img{
    padding: 14px 14px 13px 13px;
    border-radius: 50%;
    background-color: #383838;
    width: 69px;
    height: 69px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.twitter-6{
    padding: 12.28px 5.58px 11.16px 5.58px;
    border-radius: 50%;
    background-color: #383838;
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 0;
    right: 27.47px;
}

.instagram-2016-5{
    padding: 11.86px 10.67px 10.67px 11.86px;
    border-radius: 50%;
    background-color: #383838;
    width: 51px;
    height: 51px;
    position: absolute;
    top: 0px;
    right: 2.47px;
}


.live-chat-card{
    background-color: #ACEBDF;
    border-radius: 20px;
    padding: 24px 20px;
    max-width: 281px;
}

.skeleton-loading-div{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px 22.75px 16px 15.17px;
}

.skeleton-1-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.skeleton-avatar-title{
    width: 113px;
    height: 23px;
    border-radius: 100px;
    background-color: #EFEFEF;
}

.skeleton-avatar-designation{
    width: 217.08px;
    height: 23px;
    border-radius: 100px;
    background-color: #EFEFEF;
}

.skeleton-2-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #CFC3A7;
}

.gradient-overlay{
    width: 278px;
    height: 103px;
    background: linear-gradient(to bottom, #FFFFFF00 40%, #ACEBDF 75%);
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 20px 20px;
}


.audience-card{
    max-width: 281px;
    background-color: var(--w-primary-color);
    padding: 24px 20px;
    border-radius: 20px;
}


@property --progress {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}
.progress-circle {
    position: relative;
    width: 192.36px;
    height: 192.36px;
    border-radius: 50%;
    background: conic-gradient(rgba(255, 255, 255, 0.4) 0% var(--progress, 0%), #ffffff var(--progress, 0%) 100%);
    transition: --progress 0.5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 16.32px auto;
}


.progress-circle::before {
    content: "";
    position: absolute;
    width: 157.83px;
    height: 157.83px;
    background-color: var(--w-primary-color);
    border-radius: 50%;
}


.progress-content {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
}

.percentage {
    display: block;
    font-size: 41.92px;
    line-height: 100%;
    letter-spacing: -1%;
    font-weight: 700;
    font-family: "IBM Plex Sans", sans-serif;
}

.label {
    display: block;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 12.33px;
    line-height: 19.73px;
    letter-spacing: 1.85px;
    text-transform: uppercase;
}







/* creative minds section */
.creative-card{
    background-color: var(--w-primary-color);
    border-radius: 20px;
    width: 100%;
    max-width: 392px;
    height: 396px;
}

.creative-card-img-div{
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    height: 174px;
    border-radius: 16px;
    position: relative;
}

.creative-card-img{
    position: absolute;
    bottom: 0;
}

.heart-1, .heart-2, .heart-3{
    position: absolute;
}

.heart-1{
    left: 50px;
    top: -92px;
}

.heart-2{
    top: 62px;
    right: 21.15px;
}

.heart-3{
    top: -87.58px;
    right: 58.23px;
}

.creative-card-content-div{
    padding: 16px 24px 24px;
}

.creative-card-btn{
    padding: 12px;
    width: 100%;
    border: 1px solid #FFFFFF;
    background: transparent;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1%;
}


.creative-card-img-div-2{
    background-color: #2B9985;
}


.creative-card-3-heart-1, .creative-card-3-heart-2, .creative-card-3-heart-3{
    position: absolute;
}

.creative-card-3-heart-1{
    width: 16px;
    height: 17px;
    top: 29px;
    left: 58px;
}

.creative-card-3-heart-2{
    bottom: 43.4px;
    right: 49.15px;
}

.creative-card-3-heart-3{
    top: -103.58px;
    right: 51.23px;
}







/* templates section */
.templates-section {
    width: 100%;
    margin-bottom: 140px;
    overflow: hidden;
}

.templates-content {
    display: flex;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    gap: 44px;
    width: 100%;
    padding-left: clamp(0px, calc(-246.747px + 24.096vw), 100px);
}

.template-card-2.custom-shape-content-2{
    padding: 16px 11px 16px;
}


.templates-info {
    flex: 0 0 515px;
    width: 515px;
}


.templates-h2 {
    max-width: 515px;
    margin-bottom: 58px;
}


.templates-span {
    display: inline-block;
    background-color: #ACEBDF;
    border-radius: 20px;
    padding: 0 10px;
}


.templates-tag-div {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 515px;
    flex-wrap: wrap;
}


.templates-tag {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 12px 24px;
    border: 1px solid #000000;
    border-radius: 100px;
    height: 48px;
    display: flex;
    align-items: center;
}

.template-slide-container{
    position: relative;
    width: 100%;
    height: 468px;
}

.template-swiper{
    width: 100vw;
    height: 100%;
    position: absolute;
    overflow: hidden;
}


.template-card-group::-webkit-scrollbar {
    display: none;
}

.template-card {
    flex: 0 0 296px;
}

.custom-shape {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    overflow: hidden;
    clip-path: url("#custom-cutout-shape");
    -webkit-clip-path: url("#custom-cutout-shape");
    background-color: #ACEBDF;
}

.template-card-3.custom-shape{
    height: 300px;
}

.template-card-3-h4{
    text-wrap: nowrap;
}

.template-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.custom-shape-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 254.13px;
    max-width: calc(100% - 32px);
}

.custom-shape-content-1,
.custom-shape-content-2 {
    padding: 16px;
    border-radius: 5.17px;
}

.custom-shape-content-1 {
    background-color: #FFFFFF;
    margin-bottom: 16px;
}

.custom-shape-content-2 {
    background-color: var(--w-primary-color);
}

.custom-shape-content p {
    margin-top: 0;
}

.custom-shape-content p:last-child {
    margin-bottom: 0;
}

.try-template-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 12px 20px;
    border: 0;
    border-radius: 100px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
}


.try-template-btn img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}





/* Completed Project section */
.completed-project-section{
    background-color: #443747;
    transition: background-color 1.5s cubic-bezier(.98, 0, .04, 1);
}

.completed-project-container{
    overflow: hidden;
    max-width: 1440px;
    margin: 0px auto;
    padding-right: clamp(0px, calc(166.841px + -11.594vw), 16px);
}


.completed-project-left-content-div{
    padding: clamp(20px, calc(-3.981px + 6.378vw), 87.86px) 0;
}


.completed-project-circle-1{
    width: clamp(456.29px, calc(385.547px + 18.815vw), 656.29px);
    height: clamp(456.29px, calc(385.547px + 18.815vw), 656.29px);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: clamp(-366.72px, calc(-223.226px + -9.972vw), -260.72px);
}

.completed-project-circle-ul{
    position: absolute;
    right: 33.45px;
    color: #FFFFFF;
    width: 118px;
}

.completed-project-circle-2{
    width: clamp(142.59px, calc(107.218px + 9.407vw), 242.59px);
    height: clamp(142.59px, calc(107.218px + 9.407vw), 242.59px);
    border-radius: 50%;
    background: linear-gradient(to right, #1E1E1E 47%, #BABABA 96%);
    position: relative;
}

.completed-project-circle-2::before{
    content: "";
    position: absolute;
    top: clamp(-54.88px, calc(-21.2px + -2.341vw), -30px);
    left: clamp(-54.88px, calc(-21.2px + -2.341vw), -30px);
    right: clamp(-54.88px, calc(-21.2px + -2.341vw), -30px);
    bottom: clamp(-54.88px, calc(-21.2px + -2.341vw), -30px);
    border-radius: 50%;
    border: 10px solid transparent;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 46%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    rotate: var(--pseudo-deg, -8deg);
    transition: rotate 1.5s cubic-bezier(.98, 0, .04, 1);
}


.avocado-li{
    margin-left: 19px;
}
.blackberry-li{
    margin-left: 29.16px;
}
.strawberry-li{
    margin-left: 29.16px;
}
.orange-li{
    margin-left: 19px;
}

.completed-project-text{
    margin-left: 17.86px;
    width: 100%;
    width: clamp(340px, calc(318.07px + 5.833vw), 402px);
}

.completed-project-h2,
.completed-project-h2-p {
    transition: opacity 1.5s cubic-bezier(.98, 0, .04, 1);
    opacity: 1;
}

.completed-project-h2-p{
    max-width: 326px;
    height: 102px;
    overflow-y: auto;
}

.carousel-container{
    gap: clamp(10px, calc(-21.659px + 4.122vw), 37.66px);
}

.swiper {
    width: 100%;
    height: 416px;
    overflow: visible !important;
}

.carousel-arrows{
    align-self: end;
    margin-bottom: 30px;
}

.swiper-container{
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    position: relative;
}

.fruit-grid{
    display: grid !important;
    grid-template-columns: repeat(2, auto);
    transition-timing-function: cubic-bezier(.98, 0, .04, 1) !important;
}

.swiper-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    border-right: 1px solid #FFFFFF;
    z-index: 10;
}

.swiper-prev-btn .disable-icon,
.swiper-next-btn .disable-icon {
    display: none;
}

.swiper-prev-btn .active-icon,
.swiper-next-btn .active-icon {
    display: block;
}
.swiper-prev-btn.swiper-button-disabled .disable-icon,
.swiper-next-btn.swiper-button-disabled .disable-icon {
    display: block;
}

.swiper-prev-btn.swiper-button-disabled .active-icon,
.swiper-next-btn.swiper-button-disabled .active-icon {
    display: none;
}

.menu-item {
    transition: all 1.5s cubic-bezier(.98, 0, .04, 1);
}
.menu-item.active-menu {
    font-size: 15px;
    font-weight: 700;
}

.fruit-grid-card-h3{
    margin-right: 5px;
}

.carousel-arrow{
    display: none;
}

.carousel-arrow.active{
    display: block;
}

.carousel-card{
    max-width: 270.73px;
}

.grape-card{
    grid-column: 2;
    align-self: end;
    margin-bottom: -50px;
}

.blackberry-card{
    grid-row: 3;
    grid-column: 2;
}

.strawberry-card{
    grid-row: 4;
}

.orange-card{
    grid-row: 5;
    grid-column: 2;
}

.pomegranate-card{
    grid-row: 6;
}





/* brand-experience-section */
.brand-experience-div-1{
    padding: clamp(32px, calc(16.437px + 4.139vw), 76px) clamp(20px, calc(15.755px + 1.129vw), 32px);
    width: 100%;
    max-width: 1240px;
    aspect-ratio: 1240 / 468;
    background-color: var(--w-primary-color);
    clip-path: url(#responsive-clip);
    -webkit-clip-path: url(#responsive-clip);
    background-image: url("../assets/images/geometric-shape-circle-point.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.brand-experience-p{
    width: 100%;
    max-width: 461px;
}

.contact-now-btn{
    width: 184px;
    height: 48px;
    padding-left: 50px;
    border-radius: 100px;
    position: relative;
    transition: all .5s ease-in-out;
}

.arrow-up-right-green{
    display: none;
}

.contact-now-btn-icon{
    background-color: var(--w-primary-color);
    border-radius: 50%;
    position: absolute;
    left: 8px;
    width: 32px;
    height: 32px;
    transition: all .5s ease-in-out;
}

.contact-now-btn:hover{
    padding-left: 8px;
    background-color: transparent;
    color: #FFFFFF;
}

.contact-now-btn:hover .contact-now-btn-icon{
    background-color: #FFFFFF;
    left: 147px;
}

.contact-now-btn:hover .arrow-up-right{
    display: none;
}
.contact-now-btn:hover .arrow-up-right-green{
    display: block;
}


.contact-us-btn{
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100px;
    width: 188px;
    height: 56px;
    text-wrap: nowrap;
}





/* footer section */
.footer{
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-logo-p{
    width: 100%;
    max-width: 356px;
    margin-bottom: 48px;
}


.logo-tags-links-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: clamp(50px, calc(7.554px + 11.289vw), 170px);
}


.book-meeting-btn{
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    width: 206px;
    height: 48px;
    position: relative;
    transition: all .5s ease-in-out;
}

.book-meeting-btn-icon{
    width: 32px;
    height: 32px;
    background-color: var(--w-primary-color);
    border-radius: 50%;
    position: absolute;
    left: 8px;
    transition: all .5s ease-in-out;
}

.book-meeting-btn:hover{
    padding-left: 12px;
    background-color: var(--w-primary-color);
    color: #FFFFFF;
}

.book-meeting-btn:hover .book-meeting-btn-icon{
    left: 165px;
    background-color: #FFFFFF;
}

.book-meeting-btn-arrow-green{
    display: none;
}

.book-meeting-btn:hover .book-meeting-btn-arrow-green{
    display: block;
}
.book-meeting-btn:hover .book-meeting-btn-arrow{
    display: none;
}



.webermelon-bottom-div{
    padding: 59px 36px;
    background-color: var(--w-primary-color);
    width: 100%;
    max-width: 1240px;
    aspect-ratio: 1240 / 216;
    display: flex;
    justify-content: space-between;
    margin-top: clamp(-25px, calc(3.428px + -1.976vw), -4px);
    gap: 32px;
    flex-wrap: wrap;
    border-radius: 24px 24px 0 24px;
    mask-image:
            linear-gradient(black, black),
            linear-gradient(black, black),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 69.5 67'%3E%3Cpath d='M0,0 H69.5 C69.5,6.57 66.81,12.85 62.05,17.38 L41.44,37 L16.43,60.5 C11.98,64.67 6.1,67 0,67 V0 Z' fill='black'/%3E%3C/svg%3E");
        mask-size: 100% calc(100% - 67px), calc(100% - 68px) 67px, 69.5px 67px;
        mask-position: top left, bottom left, bottom right;
        mask-repeat: no-repeat;
}

.usa-p{
    max-width: 332px;
}


.footer-social-icon-div{
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.linkedin-icon-div{
    padding: 11.13px 10.96px;
}

.insta-icon-div{
    padding: 10.25px 9.64px;
}

.facebook-icon-div{
    padding: 5.54px 12.52px 0px 10.52px;;
}

.facebook-icon{
    margin-top: 3px;
    width: 18.96px;
    height: 35.83px;
}

.x-icon-div{
    padding: 11.31px 10.15px 10.77px 10.15px;
}

.footer-logo-break{
    display: none;
}