.container{
    width: 100%;
    max-width: 1240px;
    margin: 0px auto;
    padding: 0px clamp(0px, calc(115.2px + -8vw), 16px);
}




.w-font-poppins{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.w-font-ibm{
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
}
.w-font-inter{
    font-family: "Inter", sans-serif;
    font-style: normal;
}




.w-color-black{
    color: #000000;
}
.w-color-white{
    color: #FFFFFF;
}
.w-color-base300{
    color: var(--w-base-300);
}
.w-color-base400{
    color: var(--w-base-400);
}
.w-color-primary{
    color: var(--w-primary-color);
}
.w-color-secondary{
    color: var(--w-secondary-color);
}
.w-color-accent{
    color: var(--w-accent-color);
}
.w-bg-black{
    background-color: #000000;
}
.w-bg-white{
    background-color: #FFFFFF;
}
.w-bg-primary{
    background-color: var(--w-primary-color);
}
.w-bg-secondary{
    background-color: var(--w-secondary-color);
}




.w-width-100{
    width: 100%;
}




/* font weight */
.w-font-400{
    font-weight: 400;
}
.w-font-500{
    font-weight: 500;
}
.w-font-600{
    font-weight: 600;
}
.w-font-700{
    font-weight: 700;
}
.w-font-800{
    font-weight: 800;
}
.w-font-900{
    font-weight: 900;
}





/* font size */
.w-font-128px{
    font-size: clamp(42px, calc(11.58px + 8.09vw), 128px);
}
.w-font-64px{
    font-size: clamp(24px, calc(9.851px + 3.763vw), 64px);
}
.w-font-48px{
    font-size: clamp(28px, calc(20.926px + 1.881vw), 48px);
}
.w-font-42px{
    font-size: 42px;
}
.w-font-28px{
    font-size: clamp(16px, calc(11.755px + 1.129vw), 28px);
}
.w-font-24px{
    font-size: clamp(20px, calc(18.585px + 0.376vw), 24px);
}
.w-font-22px{
    font-size: 22px;
}
.w-font-20px{
    font-size: clamp(16px, calc(14.585px + 0.376vw), 20px);
}
.w-font-18px{
    font-size: clamp(16px, calc(15.293px + 0.188vw), 18px);
}
.w-font-16px{
    font-size: clamp(14px, calc(13.293px + 0.188vw), 16px);
}
.w-font-14px{
    font-size: 14px;
}
.w-font-12px{
    font-size: 12px;
}







/* line height */
.w-line-150{
    line-height: 150%;
}
.w-line-140{
    line-height: 140%;
}
.w-line-100{
    line-height: 100%;
}
.w-line-85{
    line-height: 85%;
}
.w-line-26px{
    line-height: 26px;
}
.w-line-20px{
    line-height: 20px;
}






/* letter spacing */
.w-letter--6{
    letter-spacing: -6%;
}

.w-letter--3{
    letter-spacing: -3%;
}

.w-letter--2{
    letter-spacing: -2%;
}

.w-letter-1{
    letter-spacing: 1%;
}






/* gap */
.w-gap-12px{
    gap: 12px;
}
.w-gap-16px{
    gap: 16px;
}
.w-gap-20px{
    gap: 20px;
}
.w-gap-24px{
    gap: 24px;
}
.w-gap-48px{
    gap: 48px;
}
.w-gap-8px{
    gap: 8px;
}
.w-gap-10px{
    gap: 10px;
}
.w-gap-32px{
    gap: 32px;
}






/* margin */
.w-mt-48px{
    margin-top: clamp(32px, calc(26.341px + 1.505vw), 48px);
}

.w-mb-160px{
    margin-bottom: 160px;
}

.w-mb-140px{
    margin-bottom: clamp(60px, calc(31.703px + 7.526vw), 140px);
}

.w-mb-108px{
    margin-bottom: clamp(62px, calc(45.729px + 4.327vw), 108px);
}

.w-mb-88px{
    margin-bottom: 88px;
}

.w-mb-80px{
    margin-bottom: 80px;
}

.w-mb-64px{
    margin-bottom: 64px;
}

.w-mb-60px{
    margin-bottom: 60px;
}

.w-mb-32px{
    margin-bottom: clamp(22px, calc(18.463px + 0.941vw), 32px);
}

.w-mb-48px{
    margin-bottom: clamp(32px, calc(26.341px + 1.505vw), 48px);
}

.w-mb-44px{
    margin-bottom: clamp(25px, calc(18.279px + 1.787vw), 44px);
}

.w-mb-24px{
    margin-bottom: 24px;
}

.w-mb-20px{
    margin-bottom: 20px;
}

.w-mb-16px{
    margin-bottom: 16px;
}

.w-mb-12px{
    margin-bottom: 12px;
}

.w-mb-10px{
    margin-bottom: 10px;
}

.w-mb-52px{
    margin-bottom: 52px;
}

.w-mb-8px{
    margin-bottom: 8px;
}

.w-mb-4px{
    margin-bottom: 4px;
}

.w-mb-49px{
    margin-bottom: 49px;
}




/* padding */
.w-pt-80px{
    padding-top: 80px;
}
.w-pb-80px{
    padding-bottom: 80px;
}





/* groupe css */
.w-flex{
    display: flex;
}

.w-flex-col{
    flex-direction: column;
}
.w-flex-row{
    flex-direction: row;
}
.w-flex-col-reverse{
    flex-direction: column-reverse;
}

.w-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.w-align-start{
    align-items: start;
}
.w-align-center{
    align-items: center;
}
.w-align-end{
    align-items: end;
}

.w-justify-start{
    justify-content: start;
}
.w-justify-center{
    justify-content: center;
}
.w-justify-end{
    justify-content: end;
}
.w-justify-around{
    justify-content: space-around;
}
.w-justify-between{
    justify-content: space-between;
}
.w-justify-evenly{
    justify-content: space-evenly;
}
.w-self-align-end{
    align-self: flex-end;
}
.w-flex-wrap{
    flex-wrap: wrap;
}
.w-justify-self-end{
    justify-self: end;
}



.w-position-relative{
    position: relative;
}
.w-position-absolute{
    position: absolute;
}




.w-text-center{
    text-align: center;
}