*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

img {
    display: block;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}






:root{
    --w-primary-color: #24806F;
    --w-secondary-color: #011F11;
    --w-accent-color: #A4A4A4;
    --w-base-300: #707070;
}